@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');

/* === RESET === */

*::after,
*::before,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a{
    text-decoration: none;
}

/* === something === */

body{
    background-color: #FFFFC2;

    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.wrapper{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headings{
    font-family: 'Macondo', cursive;
    font-weight: 500;
    font-size: 30px;
}

.texts{
    font-weight: 500;
    font-size: 25px;
}


.button{
    color: #140601;
    background-color: #FFF988;
    padding: 10px 60px;
    border: 2px solid #FBAF23;

    transition: .2s linear;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    font-size: 20px;
    opacity: 0.8;
}

.button:hover{
    opacity: 1;
    color: black;
    text-decoration: underline;
}

.emoji{
    width: 25px;
}

/* ===== MEDIA FOR TEXT===== */

@media (max-width: 900px){
    .texts{
        font-size: 20px;
    } 
}

@media (max-width: 680px){

    .texts{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .headings{
        font-size: 27px;
    }
}


/* === HEADER === */

header{
    background-color: #FFF34D;
    display: flex;
    align-items: center;
    padding: 20px 30px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu{
    margin-left: auto;
}

.menu_button{
    color: #140601;
    margin-left: 15px;
    opacity: 0.8;

    transition: .2s linear;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.menu_button:first-child{
    margin-left: 0;
}

.menu_button:hover{
    text-decoration: underline;
    color: black;
    opacity: 1;
}

/* === INTRO === */

.intro{
    text-align: center;

    margin: 100px 0;
}

.intro__middle img{
    width: 310px;
}

.intro__bottom{
    margin: 30px 0;
}

.intro__heading{
    font-size: 40px;
    font-weight: 800;
}

/* === CONTACT ME === */

.form__item{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px 15px;
    border: 0;
}

 .form__item_input{
    width: 300px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.form__item_input:nth-child(2){
    margin-right: 0;
}

.form__item_text{
    width: 650px;
    resize: none;
}

.form{
    margin: 50px 0;
}

.form__button{
    margin-top: 50px;
}

/* === FOOTER === */

footer{
    background-color: #FFF34D;
    padding: 20px 30px;
}

.media{
    margin: 20px 0;
}

.media__logo{
    width: 40px;
    margin-right: 15px;
}

.footer-logo{
    border: 4px solid #FBAF23;
}

/* === MEDIA === */

@media (max-width: 1100px){
    .wrapper{
        padding: 0 10px;
    }
}

@media (max-width: 680px){

    /* === HEADER === */

    .menu{
        display: none;
    }

    .menu_mobile{
        margin-left: auto;

        padding: 10px 0;
    }

    .menu_mobile:hover{
        cursor: pointer;
    }

    .burger-menu{
        width: 35px;
        height: 4px;
        background-color: #fff;
        position: relative;
    }

    .burger-menu::after,
    .burger-menu::before{
        content: '';
        width: 35px;
        height: 4px;
        position: absolute;
        background-color: #fff;
    }

    .burger-menu::after{
        top: -8px;
        left: 0;
    }
    .burger-menu::before{
        bottom: -8px;
        left: 0;
    }

    /* === INTRO === */

    .intro__text{
        font-size: 25px;
    }

    /* === CONTACT ME === */

    .form__item_input{
        width: 45%;
        margin-right:9%;
    }

    .form__item_text {
        width: 100%;
    }


}

@media (max-width: 480px){

    /* === TEXTS === */

    .texts{
        font-size: 20px;
    }

    /* === INTRO === */

    .intro__text{
        font-size: 25px;
    }

    /* === MY WORKS === */ 

    .works-wrapper a{
        width: 90%;
    }

    /* === MARGIN between blocks === */

    /* INTRO */

    .intro{
        margin: 30px 0;
    }

    /* === MY WORKS === */

    .works-wrapper{
        margin: 30px 0;
    }

    /* === CONTACT ME === */

    .form{
        margin: 30px 0;
    }

}

@media (max-width: 300px){
    .emoji{
        display: none;
    }
}



